/* Scss Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800,900|Roboto:200,300,400,700,900&display=swap&subset=vietnamese');


/*-------Variables*/
$red: #BD2E2E;
$light-red: #E24545;
$dark-red: #961D1D;	
$primary: #000000;
$whitey: #f0f0f0;

$font-content: 'Roboto', sans-serif;
$font-title: 'Montserrat', sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;

$min_width: 320px;
$max_width: 1200px;
$min_p_font: 14px;
$min_h_font: 22px;
$max_p_font: 16px;
$max_h_font: 42px;


/*------Mixins - Functions*/

//Screen Responsive
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

//Fluid Typo
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

//Font Styles
@mixin font($font: 'base') {
    @if ($font==h1) {
        font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		font-size: 42px;
		line-height: 1;
    }
    @else if ($font==h2) {
        font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 22px;
    }
	@else if ($font==h3) {
        font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 26px;
    }
    @else if ($font==button) {
        font-family: 'Roboto', sans-serif;
		font-weight: 900;
		font-size: 24px;
		text-transform: uppercase;
		color: #ffffff;
    }
	@else if ($font==title) {
        font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 32px;
		text-transform: uppercase;
		color: $red;
		text-align: center;
		padding: 40px 0px;
    }

    @else {
        font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #000000;
    }
}


//Navbar
@mixin nav {
ul {
    margin: 0;
    padding: 10px 0 0;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
	  		.hidden {
			@include tablet{
				display: none;
			}	
		}	
    li {
      display: inline-block;
      position: relative;
      a {
        color: $primary;
        text-decoration: none !important;
        display: inline-block;
        padding: 10px 12px;
        transition: color 1s;
		opacity: 0.75;  
      }
      .underline {
        height: 3px;
        background-color: transparent;
        width: 0%;
        transition: width 0.3s, background-color 0.5s;
        margin: 0 auto;
      }
		&.active-link a{
			color: $red;
		}	
      &.active-link .underline {
        width: 25px;
        background-color: $red;
      }
      &:hover {
        .underline {
          background-color: $red;
          width: 25px;
        }
        ul li a {
		  padding: 0px 10px 20px 20px;
          transition: none;
          color: $primary;
        }
	 
      }
      &:active {
        a {
          transition: none;
          color: $red;
        }
        .underline {
          transition: none;
          background-color: rgba(255, 255, 255, 0.76);
        }
      }
      .navbar-dropdown {
        text-align: left;
        width: 184px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        left: 0;
        display: none;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
		z-index: 100;  
      }
      &:hover > .navbar-dropdown {
		padding-top: 20px;
        visibility: visible;
        opacity: 1;
        display: block;
      }
      ul {
        &:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }
        li:hover > a {
          color: $red;
        }
      }
    }
  }

}

/*0. Global setting*/
body {
  background-color: $whitey;
  @include font(base);
}

section {
	padding: 60px 0;
	margin: 60px 0;
}

button:focus, button:active {
	outline: none;
}

::placeholder {
	@include font(base);
	font-style: italic;
}
/*1. Menu*/



#fixed-menu{
	height: 56px;
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #fff;
	transition: top 0.3s ease-in-out;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
}

.nav-down{top:0px}
.nav-up{top:-56px}

.navbar-container {
  height: 64px;
  text-transform: uppercase;
  text-align: left;
  font-size: 0;
  position: relative;
  font-weight: bold;
  color: $primary;
  font-size: 14px;
  width: 100%;
	.logo {
  	position: absolute;	
  	float: left;
  	height: 100%;
  	top: 15px;
  	left: -30px;	
	}
	& > .nav-logo{
		float: left;
		width: 100px;
		height: 100%;
		position: relative;
	}
	& > .nav-cta{
		float: right;
		width: auto;
		position: relative;
		background-color: $red;
		border: none;
		border-radius: 25px ;
		padding: 10px 30px 10px 40px;
		margin: 20px 10px 0 0;
		a {
			@include font(button);
			font-size: 14px;
			color: #ffffff;
			font-weight: 800;
		}
	}
	& > .nav-language{
		float: right;
		width: auto;
		position: absolute;
		right: -60px;
		padding: 10px 15px;
		margin: 20px 0 0 10px;
		border: none;
		border-radius: 25px ;
		color: $red;
		background-color: transparent;
		a {
			@include font(button);
			font-size: 14px;
			color: $red;
			font-weight: 800;
		}
	}
	@include nav;

}

.fixed-navbar-container{
	display: flex;
	align-items: center;
	@include nav;
	ul {
		padding: 0px;
		align-self: stretch;
		display: flex;
		align-items: stretch;
		li {
			padding: 0px 10px;
			a {padding: 18px 12px 14px;}
		}
	}
	height: 56px;
    text-transform: uppercase;
    text-align: left;
    font-size: 0;
    position: relative;
    font-weight: bold;
    color: $primary;
    font-size: 14px;
	.logo {
		position: relative;
		height: 100%;
		margin-right: 10px;
	}
	& > .nav-logo{
		position: relative;
		height: 100%;
		padding: 10px 0px;
	}
	& > .nav-cta{
		width: auto;
		background-color: $red;
		border: none;
		border-radius: 25px ;
		padding: 10px 30px 10px 40px;
		a {
			@include font(button);
			font-size: 14px;
			color: #ffffff;
			font-weight: 800;
		}
	}
	& > .padding{
		flex-grow: 2;
	}
	& > .nav-language{
		width: auto;
		padding: 10px 15px;
		margin-right: 10px;
		border: none;
		border-radius: 25px ;
		color: $red;
		background-color: transparent;
		a {
			@include font(button);
			font-size: 14px;
			color: $red;
			font-weight: 800;
		}
	}
}

//Hamburger menu
#menuToggle{
  	display: none;
	@include mobile{display: block};
  	position: relative;
  	top: 30px;
  	left: 30px;
  
  	z-index: 1000;
  
  	-webkit-user-select: none;
  	user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 1001; 
  
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $light-red;
  border-radius: 3px;
  z-index: 1000;
  
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) { 
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $red;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  position: absolute;
  z-index: 500;
  width: 248px;
  height: 120vh;
  margin: -100px 0 0 -50px;
  padding: 125px 50px 200px;
 
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	
}

#menu li{
  	padding: 8px 0;
	@include font(base);
	a {
		color: $dark-red;
	}
	a:active {
		color: black;
		font-weight: bold;
	}
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


@include mobile{
	#fixed-menu, #unfixed-menu {
		display: none;
	}
}

/*1. Title-slider*/
b {
	font-weight: inherit;
}

 
.slider{
	margin: 0% 10% 15px;
	padding-top: 47%;
	background-color: none;
	position: relative;
	&-active{
		float: left;
		position: absolute;
		top: 16%;
		left: 20%;
		width: 49%;
		height: 83%;
		background-color: aqua;
		border-radius: 3px;
		z-index: 10;
	}
	&-in{
		float: right;
		position: absolute;
		right: 0%;
		top: 50%;
		width: 29%;
		height: 49%;
		background-color: $red;
		border-radius: 3px;
	}
	&-out{
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		width: 29%;
		height: 49%;
		background-color: $red;
		border-radius: 3px;
	}
	&-none{
		display: none;
	}
	&-title{
		text-transform: uppercase;
		float: left;
		z-index: 15;
		left: 10%;
		position: absolute;
		top: -12%;
		color: #131313;
		@include mobile{top: -18%; left: 25%};
		& h1 {
			@include font(h1);
			font-size: 80px;
			font-weight: 800;
			line-height: 1.3;
			@include fluid-type($min_width, $max_width, 30px, 80px);
		}
		& > h2 {
			@include font(h2);
		}
	}
	&-content{
		display: flex;
		position: absolute;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		top: 15%;
		right: 0%;
		width: 29%;
		height: 18%;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		line-height: 1.4;
		&-p{
			@include mobile{display: none};
			@include tablet{width: 300px; flex-grow: 2;}
		}
		@include tablet{
			top:auto;
			bottom: -30%;
			width: 100%;
			flex-direction: row;
		}
		@include mobile{
			top:auto;
			bottom: -30%;
			width: 100%;
			flex-direction: column;
			align-items: center;
		};
	}
	&-button{
		margin: 10px 0;
		width: auto;
		background-color: $red;
		border-radius: 3px;
		@include tablet {
			margin: 0;
		}
		@include mobile {
			align-self: center;
		}
		p {
			@include font(button);
			padding: 10px 35px 10px 33px ;
			margin: 0;
			@include tablet{
			font-size: 18px;
			}
		}
		a {
			color: #ffffff;
		}
	}
	
	.a1 {
		background: url(images/slider1.png) no-repeat center center;
		background-size: cover;
	}
	.a2 {
		background: url(images/slider2.png) no-repeat center center;
		background-size: cover;
	}
	.a3 {
		background: url(images/slider3.png) no-repeat center center;
		background-size: cover;
	}
	.b1 {
		background: url(images/bslider1.png) no-repeat center center;
		background-size: cover;
	}
	.b2 {
		background: url(images/bslider2.png) no-repeat center center;
		background-size: cover;
	}
	.b3 {
		background: url(images/bslider3.png) no-repeat center center;
		background-size: cover;
	}
}

/*2. Content*/
.counselling{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	background: linear-gradient($whitey 50%, white 50%)
}

#counselling {
	margin-top: 3%;
	margin-bottom: 0px;
	padding: 30px 0 15px ;
	background-color: $red;
	border-radius: 3px;
	h1 {
		@include font(button);
		text-align: center;
	}
	& > .counsel-select{
		padding: 15px 50px 0px;
		@include font(base);
		color: #ffffff;
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		.age, .level, .wish {
			display: flex;
			flex-grow: 1;
			align-items: center;
			flex-wrap: wrap;
			padding: 10px 0;
			span {
				flex-wrap: nowrap;
				flex-grow: 1;
			}
			div {flex-grow: 1;}
		}
			& > .btn-cta {
				outline: none;
				border: none;
				border-radius: 3px;
				background-color: #ffffff;
				align-self: center;
				flex-grow: 0;
				padding: 10px 20px;
				margin-left: 30px;
				a {
					@include font(button);
					color: $red;
				}
				&:hover{a{
					color: #ffffff;
					text-decoration: none;
					}
				}

			}
	}
}

#promo {
	margin-top: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: white;
	.right-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1 {
			@include font(h1);
			font-size: 28px;
			color: $red;
			line-height: 1.2;
			text-align: right;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		p {
			@include font(base);
			text-align: right;
			padding-bottom: 20px;
		}

		& > .btn-cta {
			align-self: flex-end;
			outline: none;
			border: none;
			border-radius: 3px;
			background-color: $red;
			padding: 10px 20px;
			a {
				@include font(button);
				font-size: 16px;
				text-decoration: none;
			}
		}
		@include mobile{
			h1, p{
				text-align: center;
				padding-top: 30x;
			}
			align-items: center;
		}
	}
}

#courses{
	padding: 0px 15px;
	.title{
		@include font(h3);
		text-align: center;
		color: $red;
		padding-bottom: 40px;
	}
	.item {
		width: 300px;
		height: 300px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		color: #ffffff;
		text-align: center;
		margin: 0 auto;
	}
	button:hover {
		background-color: transparent;
	}
}

#enroll{
	background-color: #ffffff;
	margin-bottom: 0;
	.col-content{
		display: flex;
		flex-direction: column;
		align-content: space-around;
	}
	.title {
		@include font(h3);
		color: $red;
		margin: 0;
		&-h2{
			@include font(h3);
			color: $red;
			font-size: 22px;
			margin:0;
		}
		&-2{
			@include font(h2);
			color: $red;
			text-transform: uppercase;
		}
	}
	.form-group{
		margin-top: 10px;
		.custom-input{
			height: 56px;
		}
		& > .select-selected {
			color: $red;
			height: 56px;
		}
		.btn-cta {
			border: none;
			border-radius: 3px;
			background-color: $red;
			margin-top: 10px;
			height: 56px;
			width: 100%;
			cursor: pointer;
			@include font(button);
				&:hover{
					color: #ffffff;
					text-decoration: none;
					background-color: $light-red;
				}
			}
	}
	.form-control{
		@include font(base);
		border-color: $red;
		margin-bottom: 10px;
		&:focus {
			border-color: #FF0000;
 			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
		}
		
	}
	
}

#facilities{
	padding: 0px ;
	.title {
		@include font(h3);
		text-align: center;
		color: $red;
	}
	
	@mixin g-item{
		position: absolute;
		background-color: $red;
		height: 31.34%;
		width: 32.2%;
		cursor: zoom-in;
	}
	.gallery /*1180x670*/ {
		margin-top: 20px;
		padding-top: 56.78%;
		position: relative;
		&-item{
			&-grand{
				@include g-item;
				top: 0;
				left: 0;
				width: 66.1%;
				height: 65.67%;
			}
			&-2{
				@include g-item;
				top:0;
				right: 0;
			}
			&-3{
				@include g-item;
				top: 34.32%;
				right: 0;
			}
			&-4{
				@include g-item;
				bottom: 0;
				left: 0;
			}
			&-5{
				@include g-item;
				bottom: 0;
				right: 33.9%;
			}
			&-6{
				@include g-item;
				bottom: 0;
				right: 0;
			}
		}
	}
}

#testimonial{
	.title{
		@include font(h3);
		text-align: center;
		color: #fff;
		padding: 40px 0px;
	}
	.item {
		width: 60%;
		text-align: center;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		@include font(base);
		color: #fff;
		.name {
			font-style: italic;
			font-weight: 400;
		}
	}
	.background {
		padding: 20px 0;
		position: relative;
		background: url(images/IMGL8777.jpg) no-repeat center center fixed;
		background-size: cover;
	}
}

#footer{
	background-color: $light-red;
	margin: 0;
	color: #ffffff;
	.footer-col{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 10px 10px;
		& > .img {
			flex-grow: 3;
		}
		& > h1 {
			@include font(h3);
			text-align: left;
			font-weight: 500;
			font-size: 20px;
			margin: 0;
		}
		span {
			@include font(base);
			font-style: italic;
			font-weight: 200;
			color: #ffffff;
		}
	}
}
/*---------Miscellaneous-----------*/

/*1. Button ripple effect*/

.ripple {
  background-position: center;
  transition: background 0.5s;
	a{
		text-decoration: none;
	}
	&:hover {
  background: $light-red radial-gradient(circle, transparent 1%, $light-red 1%)
    center/15000%;
		a{ color: #fff;}
	}
	&:active {
  background-color: $dark-red;
  background-size: 100%;
  transition: background 0s;
	}
}

a:hover{
	text-decoration: none;
	border-radius: 3px;
}

/*2. Custom selector*/
.my-custom-select {
     position: relative;
     @include font(base);
     font-weight: 200;
     border-radius: 3px;
     flex-grow: 1;
     select {
         display: none;
    }
}
 .select-selected {
     background-color: rgba(255,255,255,0.10);
     font-style: italic;
     color: rgba(255,255,255,0.70);
     border-radius: 3px;
	 padding: 8px 16px;
     border: 1px solid rgba(255,255,255,0.8);
     &:after {
         position: absolute;
         content: "";
         top: 18px;
         right: 10px;
         width: 0;
         height: 0;
         border: 5px solid transparent;
         border-color: rgba(255,255,255,0.70) transparent transparent transparent;
    }
     &.select-arrow-active:after {
         border-color: transparent transparent rgba(255,255,255,0.70) transparent;
         top: 9px;
    }
}
 .select-items div {
     color: #ffffff;
     padding: 8px 16px;
     border: 1px solid #fff;
     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
     cursor: pointer;
}
 .select-items {
     position: absolute;
     background-color: $red;
     border-radius: 0 0 3px 3px;
     top: 100%;
     left: 0;
     right: 0;
     z-index: 99;
}
 .select-hide {
     display: none;
}
 .select-items div:hover, .same-as-selected {
     background-color: rgba(0, 0, 0, 0.1);
}

.form-group > .my-custom-select  > .select-selected {
	height: 56px;
	padding: 15px 16px;
	background-color: transparent;
	border-color: $red;
	@include font(base);
	font-weight: 400;
	color: rgba(0,0,0,0.70);
	&:after {
		top: 26px;
		right: 16px;
		border-color: $red transparent transparent transparent;
	}
	&.select-arrow-active:after{
		top: 18px;
		border-color: transparent transparent $red transparent;
	}
}

.form-group > .my-custom-select > .select-items {
	background-color: #fff;
	border-color: $red;
	color: #000;
	& div{
		color: #000;
	}
	& div:hover, .same-as-selected {
     background-color: $light-red;
	}
}
 

/*3. Video wrap*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 5px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*4. Owl nav*/
.slide-content {
    position: relative;
}

    .owl-theme {
		.owl-dots{
			padding-top: 40px;
		}
        .custom-nav {
            position: absolute;
            top: 25%;
            left: 0;
            right: 0;
            .owl-prev, .owl-next {
                position: absolute;
                height: 100px;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;
                i {
                    font-size: 2.5rem;
                    color: $light-red;
                }
				&:hover {
					i{color: $red;}
				}
            }
            .owl-prev {
                left: -50px;
            }
            .owl-next {
                right: -50px;
            }
        }
        .custom-nav-two {
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            .owl-prev, .owl-next {
                position: absolute;
                height: 100px;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;
                i {
                    font-size: 2.5rem;
                    color: #fff;
                }
            }
            .owl-prev {
                left: 50px;
            }
            .owl-next {
                right: 50px;
            }
        }
    }



/*5.Hover courses*/
.course-hover {
	width: 100%;
	height: 100%;
	@include font(base);
	h2 {
		@include font (h2);
		text-transform: uppercase;
	}
	color: #fff;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(190,32,32,0.7);
	padding: 10% 30px !important;
	
	hr {
	height: 30px;
	width: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(255, 255, 255, 1);
	border: 0;
	}
	
	a {
	color: rgba(255, 255, 255, 1);
	padding: 5px 22px;
	border-radius: 3px;
	line-height: 40px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
	
	.hvr-bounce-to-top:before{
		background: #fff;
	}
	.hvr-bounce-to-top:hover{
		color: $red;
	}
}

.caption {
	text-align: center;
	position: absolute;
	bottom: 0;
	color: $light-red;
	margin: 0 auto;
	padding: 10px;
	padding-left: 27%;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3) ;
	/*background-image: linear-gradient(rgba(225,225,225,0) rgba(0,0,0,1));*/
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}


.course:hover {
	.course-hover {
	opacity: 1;
	}
	
	.caption {
	bottom: -5px;
	opacity: 0;
	}
	
	.course-hover hr {
	width: 100%;
	height: 5px;
	}
}


/*6.Custom animate*/
@-webkit-keyframes fadeInLeft2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}		
		
@keyframes fadeInLeft2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft2 {
  -webkit-animation-name: fadeInLeft2;
  animation-name: fadeInLeft2;
}
	
@-webkit-keyframes fadeOutRight2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes fadeOutRight2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
}

.fadeOutRight2 {
  -webkit-animation-name: fadeOutRight2;
  animation-name: fadeOutRight2;
}




@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}		
		
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


	
@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }
}



@-webkit-keyframes bounceInDown {
  from,
  40%,
  65%,
  85%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  65% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  85% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  40%,
  65%,
  85%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  65% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  85% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
}


.hide {
	visibility: hidden;
}












